.navbar-brand {
  color: #224f34 !important;
  font-family: Elephant;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-item {
  text-align: center !important;
}
.navbar-bg {
  color: #224f34;
}
#bag {
  margin-left: 40px;
}
.btn-transparent {
  background-color: transparent;
  border: 1px solid;
  color: #224f34;
  padding: 5px 10px;
}
li {
  font-family: Poppins;
}
/* Custom CSS for navbar items hover effect */
.navbar-nav li.nav-item:hover a.nav-link {
  color: #ffffff; /* Change the text color to white on hover */
  background-color: #224f34; /* Change the background color on hover */
  transition: 0.3s; /* Add a smooth transition effect */
}
#home {
  height: auto;
  width: 100%;
  background-color: #c2efd4;
}
.home-title {
  color: #224f34;
  font-family: Rufina;
  font-size: 86px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.home-paragraph {
  color: #224f34;
  font-family: Rufina;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.border {
  height: 520px;
  width: 427px;
  flex-shrink: 0;
  border-radius: 117px 44px 107px 57px;
  background-color: #3cb371;
}
.home-image {
  height: 519px;
}
.shop-head {
  color: #224f34;
  font-weight: 600;
  font-family: Roboto Slab;
}

/* Custom CSS for image containers */
.image-container {
  background-color: #224f34;
  height: auto;
  width: 100%;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}

.about1 {
  max-width: 100%;
  height: auto;
}

.about2 {
  max-width: 100%;
  height: auto;
}

.about3 {
  max-width: 100%;
  height: auto;
}
.features-title {
  font-size: 63px;
  color: #224f34;
}

#features-nav {
  display: inline;
  padding: 20px;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  cursor: pointer;
  position: relative;
}
#features-nav::after {
  content: "";
  height: 3px;
  width: 100;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.block {
  height: 330px;
  width: 330px;
  background-color: lightblue;
  border-radius: 20px;
}

/* Padding for small devices (sm) */
@media (max-width: 767px) {
  .custom-padding {
    padding: 10px;
  }
}

/* Padding for large devices (lg) */
@media (min-width: 992px) {
  .custom-padding {
    padding: 10px;
  }
}
.shop-image{
  height: 320px;
}